doctype html
head
  title cpp tutorial
  link(rel='stylesheet' href='../static/css/headerStudy.css')
  link(rel='stylesheet' href='../static/css/studymateial.css')
  style.
    #loginmenu h3 {
    padding-top: 1rem;
    color: #f2f2f2;
    background: black;
    border: black;
    }
nav#navbar
  #loginmenu.login
    h3 CPP TUTORIAL
  #mainlogo
    img#logo1(src='../static/images/logo.png' alt='')
  #menubutton
    .menu-logo
      img(src='../static/images/menu-logo.png' alt='')
      a#menudrop(href='') menu
    ul#dropdown
      li
        a(href='/') logout
#main-container
  nav#subject_section
    .container
      h2 Courses
      ul
        li
          a(href='/physics') Physics
        li
          a(href='/chemistry') Chemistry
        li
          a(href='/math') Maths
        li
          a(href='/c') C
        li.current
          a(href='/cpp') C++
        li
          a(href='/python') Python
  #content-section
    .contents
      h3 Announcements
    .contents
      h3 Topics
      h5 LESSON 1:- CIRCULAR LINKED LIST
      p
        | Description:- This topic focus on how a linked list work and to traverse through a linked list
      video.content-video(controls='')
        source(src='videos/sample.mp4' type='video/mp4')
      h5 LESSON 2:- CIRCULAR LINKED LIST
      p
        | Description:- This topic focus on how a linked list work and to traverse through a linked list
        br
      p This topic focus on how a linked list work and to traverse through a linked list
      p
      video.content-video(controls='')
        source(src='videos/sample.mp4' type='video/mp4')
    .contents
      h3 Assignments
footer#main-footer
  p  Copyright &amp;COPY; targer coaching classes
