doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title facultylogin
  link(rel='stylesheet' href='../static/css/header.css')
  link(rel='stylesheet' href='../static/scripts/scripts.js')
  link(rel='stylesheet' href='../static/css/faculty.css')
  style.
    #loginmenu h3 {
    padding-top: 1rem;
    color: #f2f2f2;
    background: black;
    border: black;
    }
    #loginmenu:hover {
    background: #000000;
    border: #000000;
    cursor: auto;
    }
    #navbar {
    box-shadow: none;
    }
nav#navbar
  #loginmenu.login
    h3 Faculty
  #mainlogo
    img#logo1(src='../static/images/logo.png' alt='')
  #menubutton
    .menu-logo
      img(src='../static/images/menu-logo.png' alt='')
      a#menudrop(href='') menu
    ul#dropdown
      li
        a(href='/') home
h3
  span Our Faculty
.facultydetail
  #f1.faculty
    .selection
    .personal_detail
      img.p-image(src='/static/images/p1.png' alt='')
    .educational_detail
      h3.d-h4 Dr. Professor
      p.d-p
        | name:  duhygfivuib 
        br
        | uhdsubfuobuor
  #f2.faculty
    .selection
    .personal_detail
      | ndch
    .educational_detail
      | bghj
  #f3.faculty
    .selection
    .personal_detail
      | ndch
    .educational_detail
      | bghj
  #f4.faculty
    .selection
    .personal_detail
      | ndch
    .educational_detail
      | bghj
