doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title about
  link(rel='stylesheet' href='../static/css/header.css')
  link(rel='stylesheet' href='../static/css/aboutus.css')
  style.
    #loginmenu h3{
    padding-top: 1rem;
    color: #f2f2f2;
    background: black;
    border: black;
    }
    #loginmenu:hover{
    background: #000000;
    border: #000000;
    cursor:auto;
    }
nav#navbar
  #loginmenu.login
    h3 About Us
  #mainlogo
    img#logo1(src='../static/images/logo.png' alt='')
  #menubutton
    .menu-logo
      img(src='../static/images/menu-logo.png' alt='')
      a#menudrop(href='') menu
    ul#dropdown
      li
        a(href="/") home
.aim
  img(src="../static/images/aim2.png")
  .content
    h1 Excel Coaching Classes
    p We pride ourselves on working with our clients hand in hand through every step in a process to deliver solutions uniquely designed to meet their needs. Professional Coaching providers face unique challenges in creating a web presence because there are specific communication needs, business processes as well as ethics considerations in that process.   