<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facultylogin</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/scripts/scripts.js">
    <link rel="stylesheet" href="../static/css/faculty.css">
    <style>
        #loginmenu h3 {
            padding-top: 1rem;
            color: #f2f2f2;
            background: black;
            border: black;
        }

        #loginmenu:hover {
            background: #000000;
            border: #000000;
            cursor: auto;
        }

        #navbar {
            box-shadow: none;
        }
    </style>
</head>
<nav id="navbar">
    <div class="login" id="loginmenu">
        <h3>Faculty</h3>
    </div>
    <div id="mainlogo"><img id="logo1" src="../static/images/logo.png" alt=""></div>
    <div id="menubutton">
        <div class="menu-logo"><img src="../static/images/menu-logo.png" alt=""><a id="menudrop" href="">menu</a></div>
        <ul id="dropdown">
            <li><a href="/">home</a></li>
        </ul>
    </div>
</nav>
<h3><span>Our Faculty</span></h3>
<div class="facultydetail">
    <div class="faculty" id="f1">
        <div class="selection"></div>
        <div class="personal_detail">
            <img src="/static/images/p1.png" alt="" class="p-image">
        </div>
        <div class="educational_detail">
            <h3 class="d-h4">Dr. Professor</h3>
            <p class="d-p">name:  duhygfivuib <br>uhdsubfuobuor</p>
        </div>
    </div>
    <div class="faculty" id="f2">
        <div class="selection">
            
        </div>
        <div class="personal_detail">
            ndch
        </div>
        <div class="educational_detail">
            bghj
        </div>
    </div>
    <div class="faculty" id="f3">
        <div class="selection">
            
        </div>
        <div class="personal_detail">
            ndch
        </div>
        <div class="educational_detail">
            bghj
        </div>
    </div>
    <div class="faculty" id="f4">
        <div class="selection">
            
        </div>
        <div class="personal_detail">
            ndch
        </div>
        <div class="educational_detail">
            bghj
        </div>
    </div>
</div>
