<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/header.css">

  <title>Document</title>
  <style>
    #loginmenu h3 {
      padding-top: 1rem;
      color: #f2f2f2;
      background: black;
      border: black;
    }

    #menubutton a {
      cursor: pointer;
      font-weight: 600;
      font-size: 1.5rem;
      text-decoration: none;
      color: rgb(255, 255, 255);
      width: 100%;
      height: 100%;
    }

    #home {
      position: relative;

      border: black;
    }

    #navbar {
      box-shadow: none;
    }
  </style>
</head>

<body>
  <nav id="navbar">
    <div class="login" id="loginmenu">
      <h3>About Us</h3>
    </div>
    <div id="mainlogo"><img id="logo1" src="../static/images/logo.png" alt=""></div>
    <div id="menubutton">
      <a href="/">Home</a>
    </div>
  </nav>
<a class="back-btn" href="/allStudents" type="submit" value="submit" method="POST">Back</a>
</body>

</html>